body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #232d32;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.select-wrapper.disabled + label,
.select-wrapper input.select-dropdown:disabled {
  color: #95878b;
}

.select-wrapper.disabled .caret {
  fill: #95878b;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type="text"]:not(.browser-default):disabled,
input[type="text"]:not(.browser-default)[readonly="readonly"],
input[type="password"]:not(.browser-default):disabled,
input[type="password"]:not(.browser-default)[readonly="readonly"],
input[type="email"]:not(.browser-default):disabled,
input[type="email"]:not(.browser-default)[readonly="readonly"],
input[type="url"]:not(.browser-default):disabled,
input[type="url"]:not(.browser-default)[readonly="readonly"],
input[type="time"]:not(.browser-default):disabled,
input[type="time"]:not(.browser-default)[readonly="readonly"],
input[type="date"]:not(.browser-default):disabled,
input[type="date"]:not(.browser-default)[readonly="readonly"],
input[type="datetime"]:not(.browser-default):disabled,
input[type="datetime"]:not(.browser-default)[readonly="readonly"],
input[type="datetime-local"]:not(.browser-default):disabled,
input[type="datetime-local"]:not(.browser-default)[readonly="readonly"],
input[type="tel"]:not(.browser-default):disabled,
input[type="tel"]:not(.browser-default)[readonly="readonly"],
input[type="number"]:not(.browser-default):disabled,
input[type="number"]:not(.browser-default)[readonly="readonly"],
input[type="search"]:not(.browser-default):disabled,
input[type="search"]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  color: #95878b;
  border-bottom: 1px solid #95878b;
}

.dropdown-content {
  overflow: scroll !important;
}

input[type="submit"] {
  background-color: #0cd0fc;
  color: white;
  margin-top: 20px;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #95878b;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #0cd0fc;
}

.chat {
  position: fixed;
  background-color: #232d32;
  right: 10px;
  bottom: 10px;
  width: 350px;
  height: 500px;
  z-index: 1;
  font-size: 12px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  opacity: 1;
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.chat-container {
  padding: 20px 20px 0 20px;
  height: 100%;
}

.chat input[type="text"]:not(.browser-default),
.chat input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
}

.chat-elements {
  position: relative;
  height: 100%;
}

.chat-header {
  display: flex;
  justify-content: flex-end;
}

.chat-title {
  padding-bottom: 10px;
}

.chat-content {
  overflow-x: hidden;
  height: 340px;
  overflow-y: scroll;
}

.chat-content .messages {
  margin: 10px 0;
}

.chat-input {
  position: absolute;
  bottom: 0;
  width: 310px;
  border-top: 1px solid white;
  padding: 6px 0;
}

.chat-input form {
  display: flex;
  align-items: center;
}

.messages .message {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 0.5px solid #95878b;
}

.messages .message p {
  color: white;
}

.messages .message span {
  color: #95878b;
}

.accueil-intro {
  background-color: #0cd0fc;
  color: white;
  text-align: center;
  padding: 80px;
}

.accueil-intro h3,
.accueil-actions h3 {
  font-size: 60px;
  margin-bottom: 50px !important;
}

.accueil-intro p,
.accueil-actions p {
  color: inherit;
  font-size: 20px;
}

.parallax {
  color: white;
}

.accueil-actions {
  background-color: #232d32;
  color: white;
  text-align: center;
  padding: 80px;
}
