body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #232d32;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.sidenav .divider {
  margin: 8px 10%;
}

.sidenav-overlay {
  opacity: 0 !important;
}

.select-wrapper.disabled + label,
.select-wrapper input.select-dropdown:disabled {
  color: #95878b;
}

.select-wrapper.disabled .caret {
  fill: #95878b;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type="text"]:not(.browser-default):disabled,
input[type="text"]:not(.browser-default)[readonly="readonly"],
input[type="password"]:not(.browser-default):disabled,
input[type="password"]:not(.browser-default)[readonly="readonly"],
input[type="email"]:not(.browser-default):disabled,
input[type="email"]:not(.browser-default)[readonly="readonly"],
input[type="url"]:not(.browser-default):disabled,
input[type="url"]:not(.browser-default)[readonly="readonly"],
input[type="time"]:not(.browser-default):disabled,
input[type="time"]:not(.browser-default)[readonly="readonly"],
input[type="date"]:not(.browser-default):disabled,
input[type="date"]:not(.browser-default)[readonly="readonly"],
input[type="datetime"]:not(.browser-default):disabled,
input[type="datetime"]:not(.browser-default)[readonly="readonly"],
input[type="datetime-local"]:not(.browser-default):disabled,
input[type="datetime-local"]:not(.browser-default)[readonly="readonly"],
input[type="tel"]:not(.browser-default):disabled,
input[type="tel"]:not(.browser-default)[readonly="readonly"],
input[type="number"]:not(.browser-default):disabled,
input[type="number"]:not(.browser-default)[readonly="readonly"],
input[type="search"]:not(.browser-default):disabled,
input[type="search"]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  color: #95878b;
  border-bottom: 1px solid #95878b;
}

.dropdown-content {
  overflow: scroll !important;
}

input[type="submit"] {
  background-color: #0cd0fc;
  color: white;
  margin-top: 20px;
  height: 54px;
  line-height: 54px;
  font-size: 1rem;
  padding: 0 28px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #95878b;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #0cd0fc;
}

.floating-chat {
  position: fixed;
  background-color: #232d32;
  right: 10px;
  bottom: 10px;
  width: 350px;
  z-index: 999;
  font-size: 1rem;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  opacity: 1;
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.floating-chat-container {
  padding: 20px 20px 0 20px;
  height: 100%;
}

.floating-chat input[type="text"]:not(.browser-default),
.floating-chat input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
}

.floating-chat-elements {
  position: relative;
  height: 100%;
}

.floating-chat-header {
  display: flex;
  justify-content: flex-end;
}

.floating-chat-title {
  padding-bottom: 10px;
}

.floating-chat-content {
  overflow-x: hidden;
  height: 300px;
  overflow-y: scroll;
}

.chat-messages-container {
  overflow-x: hidden;
  height: 600px;
  overflow-y: scroll;
}

.floating-chat-content .messages {
  margin: 10px 0;
}

.floating-chat-input {
  position: absolute;
  bottom: 0;
  width: 310px;
  border-top: 1px solid white;
  padding: 6px 0;
}

.floating-chat-input form {
  display: flex;
  align-items: center;
}

.messages .message {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 0.5px solid #95878b;
}

.messages .message p {
  color: white;
}

.messages .message span {
  color: #95878b;
}

#accueil-intro {
  background-color: #0cd0fc;
  color: white;
  text-align: center;
  padding: 80px;
}

#accueil-parallax {
  padding: 80px;
}

#accueil-intro h3,
.accueil-actions h3 {
  font-size: 3rem;
  margin-bottom: 50px !important;
}

#accueil-intro p,
.accueil-actions p {
  color: inherit;
  font-size: 1.25rem;
}

.parallax {
  color: white;
}

.accueil-actions {
  background-color: #232d32;
  color: white;
  text-align: center;
  padding: 80px;
}

.bandeau-cookie {
  position: fixed;
  bottom: 0px;
  margin-bottom: 0;
  z-index: 996;
}

.floating-chat ul.tabs {
  margin-bottom: 10px;
}

.tabs .indicator {
  background-color: #0cd0fc;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #0cd0fc;
  border-bottom: none !important;
}

.tabs .tab a {
  color: #0cd0fc !important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(12, 208, 252, 0.2);
  outline: none;
}

.select-wrapper input.select-dropdown {
  z-index: inherit;
}

.chat-messages-trash {
  visibility: hidden;
}

.message:hover .chat-messages-trash {
  visibility: visible;
}

.btn-floating.disabled {
  background-color: #95878b;
  cursor: not-allowed;
}

.typing-indicator {
  background-color: #e6e7ed;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  display: table;
  position: relative;
}

.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

.parallax-container {
  height: inherit;
  padding: 80px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

.material-icons {
  font-size: 1.5rem;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 90% !important;
  }

  #accueil-intro,
  .accueil-actions,
  .parallax-container {
    padding: 40px;
  }
}
